<footer class="footer bg-info py-3 mt-auto">
    <div class="container-fluid">
        <span class="text-muted">&copy; Ma'Moolah 2025</span>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<script src="/js/BSFormValidation.js"></script>

<script src="/js/invoiceLogic.js"></script>


</body>

</html>