<% layout('layouts/boilerplate') %>

    <br>
    <h1>Ma'Moolah : Know where's Ya'Moolah!
    </h1>
    <p>Accounting for General Partnership (GP) business model. (SENC)</p>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div>
                <% if (!currentUser) { %>
                    <a href="/users/login" class="btn btn-outline-info-subtle bg-info-subtle me-3">Login</a>
                    <a href="/users/register" class="btn btn-outline-info-subtle bg-info-subtle">Register</a>
                    <% } else { %>
                        <a href="/users/logout" class="btn btn-outline-info-subtle bg-info-subtle ms-3">Logout</a>
                        <% } %>
            </div>
            <!-- <br><br><br><br><br><br>
            <h2>Feature suggestions:</h2>
            <ul>
                <li>Track your expenses</li>
                <li>Track your income</li>
                <li>Track your partners' contributions</li>
                <li>Track your partners' withdrawals</li>
                <li>Track your partners' shares</li>
                <li>Track your partners' profits</li>
                <li>Track your partners' losses</li>
                <li>Track your partners' capital accounts</li>
                <li>Track your partners' current accounts</li>
                <li>Track your partners' loan accounts</li>
                <li>Track your partners' drawings</li>
                <li>Track your partners' salaries</li>
                <li>Track your partners' bonuses</li>
                <li>Track your partners' interest on capital</li>
                <li>Track your partners' interest on drawings</li>
                <li>Track your partners' interest on loans</li>
                <li>Track your partners' interest on salaries</li>
                <li>Track your partners' interest on bonuses</li>
                <li>Track your partners' interest on profits</li>
                <li>Track your partners' interest on losses</li>
                <li>Track your partners' interest on current accounts</li>
                <li>Track your partners' interest on loan accounts</li>
                <li>Track your partners' interest on drawings accounts</li>
                <li>Track your partners' interest on salaries accounts</li>
                <li>Track your partners' interest on bonuses accounts</li>
                <li>Track your partners' interest on profits accounts</li>
                <li>Track your partners' interest on losses accounts</li>
                <li>Track your partners' interest on current accounts</li>
                <li>Track your partners' interest on loan accounts</li>
                <li>Track your partners' interest on drawings accounts</li>
                <li>Track your partners' interest on salaries accounts</li>
                <li>Track your partners' interest on bonuses accounts</li>
                <li>Track your partners' interest on profits accounts</li>
                <li>Track your partners' interest on losses accounts</li>
            </ul> -->

        </div>
    </div>