<% layout('layouts/boilerplate') %>

    <br>
    <h1>Mamoolah : Invoices
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse porro autem ea ab velit quae assumenda, incidunt
        in necessitatibus eos neque modi facilis quo unde, fugiat accusantium atque error vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptatibus dolores quibusdam maiores adipisci
        veniam quia optio magnam sed, fugiat maxime consequuntur quas deleniti laudantium architecto possimus, cumque
        ipsum in!</p>