<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3">
        <h1 class="mt-3 mb-3">
            New Client
        </h1>
        <div class="card border-secondary mb-3">
            <div class="card-body text-secondary">

                <form action="/clients" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="clientName" class="form-label">Client Name</label>
                        <input type="text" class="form-control" id="clientName" name="client[clientName]" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="client[firstName]">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="client[lastName]">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="client[phone]">
                    </div>
                    <div class="mb-3">
                        <label for="cell" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="cell" name="client[cell]">
                    </div>
                    <div class="mb-3">
                        <label for="fax" class="form-label">Fax Number</label>
                        <input type="text" class="form-control" id="fax" name="client[fax]">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="client[email]">
                    </div>
                    <div class="mb-3">
                        <h4>Address</h4>
                        <label for="invoiceStreet" class="form-label">Street Address</label>
                        <input type="text" class="form-control" id="invoiceStreet" name="client[invoiceStreet]">
                        <label for="invoiceCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="invoiceCity" name="client[invoiceCity]">
                        <label for="invoiceState" class="form-label">State / Province</label>
                        <input type="text" class="form-control" id="invoiceState" name="client[invoiceState]">
                        <label for="invoiceCode" class="form-label">Zip / Postal Code</label>
                        <input type="text" class="form-control" id="invoiceCode" name="client[invoiceCode]">
                        <label for="invoiceCountry" class="form-label">Country</label>
                        <input type="text" class="form-control" id="invoiceCountry" name="client[invoiceCountry]">
                    </div>
                    <div class="mb-3">
                        <h4>Shipping Address</h4>
                        <label for="shipStreet" class="form-label">Street Address</label>
                        <input type="text" class="form-control" id="shipStreet" name="client[shipStreet]">
                        <label for="shipCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="shipCity" name="client[shipCity]">
                        <label for="shipState" class="form-label">State / Province</label>
                        <input type="text" class="form-control" id="shipState" name="client[shipState]">
                        <label for="shipCode" class="form-label">Zip / Postal Code</label>
                        <input type="text" class="form-control" id="shipCode" name="client[shipCode]">
                        <label for="shipCountry" class="form-label">Country</label>
                        <input type="text" class="form-control" id="shipCountry" name="client[shipCountry]">
                    </div>
                    <!-- <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="client[price]" required>
                    </div> -->
                    <button class="btn btn-outline-info-subtle bg-info-subtle">Save new client</button>
                </form>

            </div>
            <div class="card-footer">
                <a href="/clients">Cancel</a>
            </div>
        </div>
    </div>