<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3">
        <h1 class="mt-3 mb-3">
            Create New Account
        </h1>
        <div class="card border-secondary mb-3">
            <div class="card-body text-secondary">

                <form action="/accounts" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="accountName" class="form-label">Account Name</label>
                        <input type="text" class="form-control" id="accountName" name="account[accountName]" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="accountType" class="form-label">Account Type</label>
                        <input type="text" class="form-control" id="accountType" name="account[accountType]" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="institution" class="form-label">Institution</label>
                        <input type="text" class="form-control" id="institution" name="account[institution]" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="accountNumber" class="form-label">Account Number</label>
                        <input type="text" class="form-control" id="accountNumber" name="account[accountNumber]"
                            required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="currency" class="form-label">Currency</label>
                        <input type="text" class="form-control" id="currency" name="account[currency]" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="balance" class="form-label">Starting Balance</label>
                        <input type="number" class="form-control" id="balance" name="account[balance]" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="account[setMainAccount]"
                            id="setMainAccount">
                        <label class="form-check-label" for="setMainAccount">
                            Set as main account
                        </label>
                    </div><br>
                    <button class="btn btn-outline-info-subtle bg-info-subtle">Save new account</button>
                </form>

            </div>
            <div class="card-footer">
                <a href="/accounts">Cancel</a>
            </div>
        </div>
    </div>