<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3">
        <h1 class="mt-3 mb-3">
            New Transaction
        </h1>
        <div class="card border-secondary mb-3">
            <div class="card-body text-secondary">

                <form action="/transactions" method="POST" novalidate class="validated-form" id="transactionForm">
                    <div class="mb-3">
                        <label for="transactionType" class="form-label">Transaction Type:</label>
                        <select class="form-control" id="transactionType" name="transactionType"
                            onchange="toggleFields()">
                            <option value="">Select Type</option>
                            <option value="expense">Expense</option>
                            <option value="income">Income</option>
                            <option value="transfer">Transfer</option>
                            <option value="invoicePayment">Invoice Payment</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                    <div id="expenseFields" class="mb-3 hidden">
                        <label for="expenseCategory" class="form-label">Expense Category:</label>
                        <input type="text" class="form-control" id="expenseCategory" name="expenseCategory">
                    </div>
                    <div id="incomeFields" class="mb-3 hidden">
                        <label for="incomeSource" class="form-label">Income Source:</label>
                        <input type="text" class="form-control" id="incomeSource" name="incomeSource">
                    </div>
                    <div id="transferFields" class="mb-3 hidden">
                        <label for="fromAccount" class="form-label">From Account:</label>
                        <input type="text" class="form-control" id="fromAccount" name="fromAccount">
                        <br><br>
                        <label for="toAccount" class="form-label">To Account:</label>
                        <input type="text" class="form-control" id="toAccount" name="toAccount">
                    </div>
                    <div id="invoicePaymentFields" class="mb-3 hidden">
                        <label for="invoiceNumber" class="form-label">Invoice Number:</label>
                        <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber">
                    </div>
                    <button class="btn btn-outline-info-subtle bg-info-subtle">Save new transaction</button>
                </form>

            </div>
            <div class="card-footer">
                <a href="/transactions">Cancel</a>
            </div>
        </div>
    </div>